<div class="uiMenu">
	<div class="heading">
		<div class="heading-text">Menu</div>
	</div>
	<div class="content">
		<div class="btn btnLoad">Load</div>
		<div class="btn btnSave">Save</div>
		<div class="btn btnExport">Export</div>
		<div class="btn btnImport">Import</div>
		<div class="btn btnNew">New</div>
	</div>
</div>
